**/bin/
**/obj/
**/out/
**/publish/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.gitignore
**/*.user
**/*.suo
**/*.cache
**/appsettings.Development.json
**/launchSettings.json
**/.DS_Store
**/Thumbs.db
**/*.md
!README.md
**/node_modules/
**/dist/
